<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/styles/main.css">
</head>
<body class = "three">
    <div class="footer">
        <p>CopyRight 2022 @ Hemanth</p>
    </div>
</body>
</html>