<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>Blogs Today</h1>
        </div>
        <div class="createbutton">
            <button><a href = "/styles/createblog.html">+ Create</a></button>
        </div>
    </div>
</body>
</html>