<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <h2>Latest Blogs</h2>
        <%# this is the section where we have to write wrtie the dynamic html contents %>
        <ul>
            <% for (const [title, content] of Object.entries(blogInfo)) { %>
                <li>
                    <h2><a href = "/blog/<%= title %>"><%= title %></a></h2>
                </li>
            <% } %>
        </ul>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>



